body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/070/896/small/abstract-90s-retro-style-technology-futuristic-concept-grid-perspective-on-black-background-vector.jpg"); 
    text-align: center;
}

h1 {
    animation: flicker 1.5s infinite alternate;  
    font-size: 40px;   
    font-family: Audiowide;
  }

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  a {
      color: rgb(217, 255, 0);
      font-size: 30px;
  }
  
  a:hover {
    color: hotpink;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column2{
      float: right;
      color:coral;
  }

  P {
    font-family: Audiowide;
    color:#fff6ff;
    font-weight: bold;
    font-size: 24px;
  }

  .footer {
    font-family: Permanent Marker;
  }
