body{
    background-color: rgb(116, 135, 92);
}


p {
    font-weight: bold;
}

h1 {
    font-family: Nothing You Could Do, Georgia;
}

.container{
    width: 100%;
    height: auto;
}

div.footer {
    position:absolute;
    bottom: 30px;
    right: 0;
}

a {
    font-size: 20px;
    color: rgb(6, 6, 38);
}