body {
    background-color: rgb(132, 122, 215, 1);
}

h1 {
    text-align: center;
    font-family: Chakra Petch;
    background-color: aquamarine;
}
div.footer {
    position:absolute;
    bottom: 30px;
    right: 0;
}

a {
    font-size: 20px;
    color: rgb(6, 6, 38);
}

div.Instagram{
    position:absolute;
    bottom: 200px;
    right: 0;
    font-family: "Pacifico", 'Times New Roman'; 
}

div.lists{
    border: 5px solid seagreen;
    text-align: center;
    font-family: Courgette;
    font-weight: bold;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column2{
      float: center;
      color:rgb(14, 242, 227);
      
  }
